<!DOCTYPE html>
<html>

<head>

    <title>MongoDb - NodeJS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Styling  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="shortcut icon" type="image/png" href="img/komptr.png" />
    <style>
        a,
		a:hover {
			text-decoration: none;
		}

    </style>

</head>


<body>
    <div class="py-5">
        <div class="container-lg">
            <h3 class="font-weight-normal text-success">
                NodeJS - MongoDb Tutorials
            </h3>
            <h4 class="font-weight-normal text-danger">
                Guide
            </h4>
            <div class="card p-4 mb-4">
                <div class="py-2">
                    <a href="learn/one">
                        <h5 class="font-weight-normal">
                            1. Connecting To Mongo Database
                        </h5>
                    </a>
                </div>
                
                <div class="py-2">
                    <a href="learn/two">
                        <h5 class="font-weight-normal">
                            2. Introductions To Schemas
                        </h5>
                    </a>
                </div>

                <div class="py-2">
                    <a href="learn/three">
                        <h5 class="font-weight-normal">
                            3. Saving Data From Schemas To Database 
                        </h5>
                    </a>
                </div>

                <div class="py-2">
                    <a href="learn/four">
                        <h5 class="font-weight-normal">
                            4. Saving Data From Files (json Files) To Database 
                        </h5>
                    </a>
                </div>

                <div class="py-2">
                    <a href="learn/five">
                        <h5 class="font-weight-normal">
                            5. Displaying data from Database
                        </h5>
                    </a>
                </div>


                


            </div>

            <h4 class="font-weight-normal text-danger">
                Routes
            </h4>
            <div class="card p-4">
                <div class="row">
                    <div class="col-md-3">
                        <div class="py-2">
                            <a href="json/">
                                <h5 class="font-weight-normal">
                                    1. json Dataone
                                </h5>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="py-2">
                            <a href="json/js2">
                                <h5 class="font-weight-normal">
                                    1. json Data Two
                                </h5>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="py-2">
                            <a href="db/colone">
                                <h5 class="font-weight-normal">
                                    1. Get Data from db (col1)
                                </h5>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="py-2">
                            <a href="db/coltwo">
                                <h5 class="font-weight-normal">
                                    2. Get Data from d (col2)
                                </h5>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://use.fontawesome.com/a0e6427a8e.js"></script>


</body>

</html>